@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comic+Neue:wght@300&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comic+Neue:wght@300&family=Lobster&family=Quicksand&display=swap');

body{
    background-color: rgb(71, 226, 175);
}

.faceLogo-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid rgb(247, 247, 247); 
   
  
}
button{
    position:relative;
    display:block; 
    margin-left: 30%;
    border: none; 
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #e9ffc6;
    
}
.faceLogo-button{
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #e9ffc6;
  font-size: 20px;
  width: 30%;
  padding: 14px;
  border: 5px solid rgb(0, 184, 92);
  cursor:pointer;
  border-radius: 5px;
    
}
.faceLogo-button:hover{
    background-color: chartreuse;
}

@media screen and (max-width:600px){
    body{
        background-color: rgb(0, 0, 0);
    }
    .faceLogo-container img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height:430px;
        border: 10px solid rgb(247, 247, 247); 
        font-size: 10px;
      
    }
    .faceLogo-button{
        position:absolute;
        margin-top: 10%;
        margin-left:0%;
        height:60px;
        width:130px;
    
    }
    button{
        margin-left:10px;
    }
    
}