@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comfortaa:wght@300&family=Comic+Neue:wght@300&family=DM+Serif+Display&family=Lobster&family=Quicksand&display=swap');
html{
    background-color: rgb(198, 255, 184);
    height:100%;
    
}
.Logo{
    font-family: 'DM Serif Display', serif;
    position: relative;
    font-size: 2em;
    font-weight: bold; 
    text-align:left; 
    
}
.Logo-image{
    position: absolute;
    height: 50px;
    width: 150px;
    opacity:30%
  
}
.Logo-image:hover{
    position: absolute;
    height: 50px;
    width: 150px;
    opacity:100%;
}
.header-container{
    display:grid; 
    border: 1px solid #ccc; 
    padding: 1em; 
    border-radius: 3px; 
    box-shadow: 0 0 1px rgb(62, 61, 61); 
    margin: 4em; 
   
}
.rightlift-links{
    font-family: 'DM Serif Display', serif;
    position:absolute;
    display:block; 
    grid-template-columns: auto;
    margin-bottom:10%;
    margin-top: 1%;
    margin-left:10%;
    
}
.rightlift-links a{
    color: #000000df;
    text-decoration: none;  
    margin: 2em;
    font-size:20px;    
    
}
.rightlift-links a:hover{
    background-color:chartreuse; 
    font-weight: bold;
    font-size: 30px;

}
.Introduction-image{
    width:100%; 
    height:300px; 
}
.Introduction-image2{
    width:100%; 
    height:300px; 
}
.Introduction-image3{
    width:100%; 
    height:300px; 
}
.Introduction-ImgRow {
    float: left;
    width: 33.33%;
    padding: 0px;
    transition: transform .2s;
   
}
.Image-Row::after{
    content: "";
    clear: both;
    display: table;
}
.Introduction-ImgRow:hover{
    transform: scale(1.5);
}
.RightLift-Serves{
    font-family: 'DM Serif Display', serif;
    position: relative;
    left: 0;
    transition: left 3s linear 0s;
}
.RightLift-Serves:hover{
    left:80%; 
}
.RightLift-Priority{
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}
.RightLift-Choose{
    margin-bottom:20px;
    text-align:center; 
    font-family: 'Chakra Petch', sans-serif;
}
.RightLift-Value{
    font-family: 'Quicksand', sans-serif;
    text-align:center; 
}
.RightLift-Value2{
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 2px;
    
}
.RightLift-container{
    border: 1px solid rgb(63, 255, 159); 
    border-radius:4px; 
    padding:0em; 
    box-shadow: 0 0 5px rgb(255, 255, 255); 
    margin:5em; 
    font-size: 20px;
}
.RightLiftClass-Container{
    border: 1px solid rgb(63, 255, 159); 
    border-radius:4px; 
    padding:2em; 
    box-shadow: 0 0 5px rgb(255, 255, 255); 
    margin:5em; 
    
}
.RightLiftClass-Best{
    font-family: 'DM Serif Display', serif;
    letter-spacing:5px;
    text-align: center;
    font-size:40px;
    
}
.RightLift-List{
    font-family: 'Quicksand', sans-serif;
    line-height:40px;
    font-size:20px;
}
.RightLift-List a{
    color: rgb(8, 34, 8);
}
.RightLiftClass-Protocol{
    text-align: center;
    font-family: 'Lobster', cursive;
    letter-spacing:3px;
    margin-bottom:300px;
}
footer{
    background-color: #23ff6c8a;
    text-align: center; 
    padding: 1em; 
    color: #000000; 
    position: absolute; 
    width:100%;
 
    
}




@media screen and (max-width:600px){
    body{
        background-color: white;
    }
    .Introduction-image{
    width:100%; 
    height:100px; 
    }
.Introduction-image2{
    width:100%; 
    height:100px; 
   }
.Introduction-image3{
    width:100%; 
    height:100px; 
}
  .Logo{
    font-family: 'DM Serif Display', serif;
    position: relative;
    font-size: 2em;
    font-weight: bold; 
    text-align:left; 
    opacity:0%;
    
}
.Logo-image{
    position: absolute;
    height: 50px;
    width: 150px;
    opacity:30%
  
}
.Logo-image:hover{
    position: absolute;
    height: 50px;
    width: 150px;
    opacity:100%;
}
.header-container{
    display:grid; 
    border: 1px solid #ccc; 
    padding: 1em; 
    border-radius: 3px; 
    box-shadow: 0 0 1px rgb(62, 61, 61); 
    margin: 4em; 
   
}
.rightlift-links{
    font-family: 'DM Serif Display', serif;
    position:absolute;
    display:block; 
    grid-template-columns: auto;
    margin-bottom:10%;
    margin-top: 1%;
    margin-left:10%;
    
}
.rightlift-links a{
    color: #000000df;
    text-decoration: none;  
    margin: 2em;
    font-size: 10px;    
    margin-right:30px;
    
}
.rightlift-links a:hover{
    background-color:chartreuse; 
    font-weight: bold;
    font-size: 10px;

}
}
